@font-face {
  font-family: 'HeliosC';
  src: url('../../assets/fonts/HeliosC.woff') format('woff'),
  url('../../assets/fonts/HeliosC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Text Wide Cyr';
  src: url('../../assets/fonts/DrukTextWideCyr-Heavy.woff') format('woff'),
  url('../../assets/fonts/DrukTextWideCyr-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HeliosLightC';
  src: url('../../assets/fonts/HeliosLightC.woff') format('woff'),
  url('../../assets/fonts/HeliosLightC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Druk Wide Cyr Medium';
  src: url('../../assets/fonts/DrukWideCyr-Medium.woff') format('woff'),
  url('../../assets/fonts/DrukWideCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}